@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

  .tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .times {
    font-family: "Times New Roman", Times, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto{
    font-family: "Roboto";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top:1rem;
  }

  h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
    margin-top:0.7rem;
  }

  
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top:0.5rem;
  }

  h4 {
    font-size: 1.20rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    margin-top:0.3rem
  }
  
  h5 {
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    margin-top:0.3rem
  }

  h6 {
    font-size: 1.10rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    margin-top:0.2rem
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #cccbcb;
    text-align: center;
  }

    ul {
    list-style-type: disc; 
    padding-left: 20px; 
  }
  
  li {
    margin-bottom: 5px; 
  }

  p {
    word-wrap: break-word;  
    word-break: break-word;  
    overflow-wrap: break-word;
    white-space: normal;  
  }
  